# exclude .env file
.env
cf_fms_core_api.env

# exclude node modules
node_modules

# exlude log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# exlude editor directory and files
.idea
.vscode
.vs

# misc
.nyc_output
coverage
vscode-workspace-setting